.column {
    float: left;
  } /*division of the page in two */
  .left { background-color: rgb(46, 64, 83);
    width: 35%;
    border-radius: 0 20px 20px 0;
  }
  .right {
    width: 65%;
  background-color: rgb(236, 240, 241);
  margin: 20px 0px 0px 0px;
  } 
  
  .text  { text-align: center;
  color: white;
  font-family; sans-serif;
  }
    h2{ color: white; text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    }
  img{border-radius: 50%; max-width: 50%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        padding: 10px;
        } /*to round up the imgg */
  h3{
      text-align: center;
      letter-spacing: 5px;
      padding: 5px;
      background-color: rgb(236, 240, 241);
      color: rgb(46, 64, 43);
      font-family: Arial, Helvetica, sans-serif;
      margin: 10px 30px 10px 10px;
      border-radius: 10px 10px 10px 10px;
      }
        ul { color: white;}
    p { text-align: center;
    font-style: oblique;
    color: white; 
    padding: 10px 20px 50px 20px;
  }
    #new {
      color: black;
    }
  #new2 {
    color: black;
    padding: 0px 20px 0px 20px;
  }