
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.left {
  background-color: #2e4053;
  color: white;
  text-align: center;
  border-radius: 0 20px 20px 0;
  flex: 0 0 30%;
}

.right {
  background-color: #ecf0f1;
  color: black;
  margin-top: 20px;
  flex: 0 0 70%;
}

h2 {
  color: white;
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

.profile {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: block;
  margin: 0 auto 20px auto;
  background-color: white;
  padding: 10px;
}

h3 {
  text-align: center;
  letter-spacing: 3px;
  padding: 10px;
  background-color: #ecf0f1;
  color: #2e4053;
  margin: 20px 0;
  border-radius: 10px;
}

ul {
  padding: 0;
  list-style: none;
  text-align: center;
  color: white;
}

p {
  text-align: center;
  padding: 10px 20px;
}

button {
  margin: 5px 0 10px 20px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
  background: white;
  border: 1px solid #FCD200;
  color: black;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 2px;
}

.crc {
  width: 80%;
  height: auto;
  display: block;
  margin: 20px auto;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
}

#new, #new2 {
  color: black;
  padding: 0 20px;
}

.views {
  color: white;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .column {
      flex-basis: 100%;
  }

  .left, .right {
      border-radius: 0;
  }
}
